<div class="jumbotron text-center">
    <h1 class="display-4">Millenium Concordia</h1>
    <p class="lead">Le voyage inter-planetaire, enfin à portée de main.</p>
    <hr class="my-4">
    <h4>La compagnie Millénium Corcordia a été fondé par Capitaine Sofia du 8ème 
régiment des anciens démineurs nucléaires  il y’a 2 siècles.

Ancienne soldat ayant fait fortune dans les pierres précieuses, la découverte d'une nouvelle source d'énergie lui a permit d'investir dans l’agence de voyages à longue distance de son oncle et d’en reprendre le flambeau. 
La possibilité nouvelle des voyages à longue distance ont favorisé la fusion de deux sociétés Millénium et Concordia rendant possible la  prospection de l’univers à des fins industrielles et touristiques.
Riche de nos deux cents ans d’expertise, nous vous proposerons une expérience unique vers un roadtrip galactique.</h4>

</div>

<div class="container p-5">
    <div class="row">
       
        <!-- Bannière Louvre -->
        <div class="container container-baniere">
            <div class="row">
                <div class="col-sm">
                    <a href="#" class="text-decoration-none">
                        <div class="a-baniere text-white">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 mt-5 ml-5 mb-3">
                                        <h3>Partez explorer la galaxy !</h3>
                                    </div>
                                    <div class="col-sm ml-5">
                                        <button type="button" class="btn btn-outline-light btn-lg" href="#planetes">Découvrir les planetes </button>
                                        <br>
                                        <button type="button" class="mt-3 btn btn-outline-light btn-lg">Découvrir les etoiles </button>
                                        <br>
                                        <button type="button" class=" mt-3 btn btn-outline-light btn-lg">Découvrir les Satelites </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="container-fluid row">
        	<!-- <h2 style="margin-left: 100px">Instagram Feed</h2>
        	<h2 style="margin-left: 13em">News</h2> -->

        </div>
 <!--        Instagram feed -->
        <div class="col-md- ml-5">
        	<p></p>
        	
            <div class="ui card">
                <div class="content">
                    <div class="right floated meta">14h</div><img class="ui avatar image" src="./assets/img/airbnb.png"> Elliot
                </div>
                <div class="image">
                    <img src="./assets/img/skyview.jpg" alt="">
                </div>
                <div class="content"><span class="right floated"> <i class="heart outline like icon"></i> 17 j’aime </span> <i class="comment icon"></i> 3 commentaires </div>
                <div class="extra content">
                    <div class="ui large transparent left icon input">
                        <i class="heart outline icon"></i>
                        <input type="text" placeholder="Ajouter un commentaire...">
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="content">
                    <div class="right floated meta">14h</div><img class="ui avatar image" src="./assets/img/airbnb.png"> Elliot
                </div>
                <div class="image">
                    <img src="./assets/img/skyview.jpg" alt="">
                </div>
                <div class="content"><span class="right floated"> <i class="heart outline like icon"></i> 17 j’aime </span> <i class="comment icon"></i> 3 commentaires </div>
                <div class="extra content">
                    <div class="ui large transparent left icon input">
                        <i class="heart outline icon"></i>
                        <input type="text" placeholder="Ajouter un commentaire...">
                    </div>
                </div>
            </div>
        </div>
        <!-- Articles -->

        <div class="range1 mt-3 p-4 offset-md-1 col-md-7	 row">
        		
            <div class="card mr-3 " style="width: 18rem;">
                <img src="./assets/img/starship.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Pour les 200 ans de la société Millenium Concordia nous avons la fierté de vous annoncer un taux de satisfaction de 99,9 % dsur l’ensemble de nos clients depuis les débuts de l’entreprise.
Merci de votre confiance, et à bientôt sur nos vols !</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card mr-3 " style="width: 18rem;">
                <img src="./assets/img/starship.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Nous avons le plaisir de vous annoncer la mise en place prochaine d’un partenariat exclusif avec le grand chef Zilbaa de Kashyyyk, nous permettant de profiter d’un zone élargie pour que vous puisez vivre une expérience encore plus unique.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
           
            <div class="card mr-3 " style="width: 18rem;">
                <img src="./assets/img/europa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">C’est avec avec un réel engouement que nous vous présentons une nouvelle destination unique !
Il est maintenant possible de se rendre sur la belle Europe, surfez sur l’occasion de vous offrir du bon temps !</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
