footer, h5{
  font-size: .9em;
}
footer a{
  font-size: .8em;
}
footer {
  background-color: #133d56;
  margin: 0px;
  padding: 0px;
}

}
.bgc2{
    /* background-color: #e0f4fc; /* bleu clair */ */
    background-color: #29537c;
}

.txc7{
    /* color: #635e5e; */
    color: white;
}

.separation{
	clear: both;
	position-center
	margin-top :8px;
	margin-center;
	height: 150px;
	width : 1px;
	background: black;
	}
