.navbar{
    background-color: #e3f2fd;
}
.faucon{
    height: 45px;
  width: 45px;
}
.space{
    margin-top: 20px;
    background-image:url("https://cdn.radiofrance.fr/s3/cruiser-production/2018/10/220603cd-bbbf-4b40-8e60-f3bac66519aa/640_gettyimages-1015902818.jpg");
    background-size: cover;
    color: white;
}
h1{
    font-size: 80px;
}
